# Binaries
bin/

# Go
*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.test
*.prof
.gotmp/
.gocache/

# Ignore everything in src/ by default to catch all random binaries
/src/*

# Separately allow the actual source folders and tracked files
!/src/backend/
!/src/frontend/
!/src/gh-page/
!/src/uninstall/
!/src/build.sh
!/src/go.mod
!/src/go.sum
!/src/main.go.patch

# Node / React Frontend
src/frontend/node_modules/
src/frontend/dist/
src/frontend/.npm/
src/frontend/.eslintcache
src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
