
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply m-0 min-h-screen overflow-x-hidden p-0 font-sans bg-black text-white;
    color-scheme: dark;
  }

  #root {
    @apply relative min-h-screen;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
